@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    height: 100%;
    --left-dash-pad: 15px;
    --dashboard-main:  rgb(0, 0, 0);    
    --dashboard-accent:  rgb(4, 189, 0);   
    --background-grey: rgb(229, 233, 244);
    font-family: 'Merriweather', sans-serif;
}

/*********** Main Grid: Page layout of side, header and content ************************/
body {
    display: grid;
    grid-template-columns: minmax(220px, 1fr) 5fr;
    grid-template-rows: minmax(170px, 1fr) 4fr;
}
#sidebar {
    grid-row: 1 / 3;
}
#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* border: 2px solid green; */
}
/*********** Content Grid: projects and announcemets/trending **************************/
#main-content {
    display: grid;
    grid-template-columns: 3fr minmax(250px, 1fr);
    background-color: var(--background-grey);
    padding: 20px;
    gap: 20px;
}

/*********** Projects ****************/
#projects-grid {
    display: grid;
    gap: 22px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project {
    background-color: white;
    padding: 15px;
    padding-top: 0px;
    border-radius: 10px;
    border-left: 7px solid var(--dashboard-accent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}
.project-name {
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}
.project-name:hover {
    color: var(--dashboard-accent);
}
.project-actions> a > .view-icon:hover {
    filter: invert(42%) sepia(99%) saturate(1095%) hue-rotate(85deg) brightness(99%) contrast(106%);
}
.project-name-p {
    margin-bottom: 0;
}
.project-text {
    font-size: small;
    margin-top: -10;
}
.project-actions {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: var(--left-dash-pad);
    justify-self: flex-end;
}
.project-action-icon {
    height: 20px;
    width: 20px;
}

/******** Announce/About Me *************/
.card {
    padding: 15px;
    min-height: 300px;
}
.flexy {
    display: flex;
    flex-direction: column;
}
#announcements-aboutme {
    justify-content: space-between;
}
.announcement {
    margin-bottom: 5px;
    align-content: center;
    height: 30%;
    overflow:scroll;
    overflow-x: hidden;
    border-bottom: 1px solid gray;
}
#announce-content, #aboutme-content {
    background-color: white;
    border-radius: 10px;
}
.content-label {
    font-weight: bold;
    margin-bottom: 10px;
}
.announcement-title {
    font-size: small;
    font-weight: bold;
}
.announcement-text {
    font-size: x-small;
}
.me {
    color: black;
    font-size: clamp(.75rem, .3vw, 1rem); 
}
#aboutme-content {
    padding: 20px;
}
#aboutme-content > ul {
    text-decoration:underline;
    list-style: none;
}

/*********** Sidebar *******************************************************************/
a {
    text-decoration: none; /* For all of the clickable image items */
    color: white;
}
#sidebar {
    background-color: var(--dashboard-main);
    color: white;
}
#dashboard {
    display: flex;
    align-items: center;
    padding-left: var(--left-dash-pad);
}
#dashboard-txt {
    font-size: x-large;
    margin-left: calc(var(--left-dash-pad) / 2);
}
#dashboard-img {
    height: 50px;
    filter: invert(100%) sepia(4%) saturate(19%) hue-rotate(231deg) brightness(107%) contrast(102%);
}
.dash-grid {
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    margin-top: calc(4 * var(--left-dash-pad));
    padding-left: calc(2 * var(--left-dash-pad));
    gap: 20px;
}
.item-img {
    height: 20px;
}
.white-img {
    filter: invert(100%) sepia(4%) saturate(19%) hue-rotate(231deg) brightness(107%) contrast(102%);
}
.flex-item {
    display: flex;
    align-items: center;
    gap: calc(var(--left-dash-pad) );
}
#sidebar>div>div>a {
    font-size: large;
}
/*********** Header ********************************************************************/
#header-top {
    display: grid;
    grid-template-columns: minmax(200px, auto) 180px;
    align-items: center;
    padding-left: calc(2 * var(--left-dash-pad));
    padding-right: calc(2 * var(--left-dash-pad));
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#sml-profile-img-holder {
    background-color: var(--dashboard-accent);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}
#search-stuff {
    display: flex;
    align-items: center;
    gap: calc(var(--left-dash-pad)/ 2);
}
#search-bar {
    width: 90%;
    border-radius: 10px;
    background-color: var(--background-grey);
    border: 0px;
    height: 20px;
    padding-left: 10px;
}
#top-other {
    display: flex;
    align-items: center;
    gap: 20px;
}
#head-bottom-left, #head-bottom-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
#lrg-profile-img-holder {
    background-color: var(--dashboard-accent);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
}
#greet-user {
    font-weight: bold;
}
#hi-user {
    font-size: x-small;
}
.blue-btn {
    background-color: var(--dashboard-main);
    color: white;
    border: 0;
    border-radius: 15px;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
#header-bottom {
    display: grid;
    grid-template-columns: minmax(200px, auto) 300px;
    align-items: center;
    padding-left: calc(2 * var(--left-dash-pad));
    padding-right: calc(2 * var(--left-dash-pad));
}
#head-bottom-right {
    display: flex;
    gap: 20px;
}
/*********** Customization *************************************************************/
#sml-profile-img-holder, #lrg-profile-img-holder {
    background-image: url("./images/dakkar-pfp.jpg");
    background-size: cover;
}
