body {
    display: flex;
    gap: 100px;
}
.ctrl {
    border: 2px solid red;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
}
.game {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
}
.board {
    width: 310px;
    display: grid;
    /* border: 2px solid black; */
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
    background-color: grey;
}
.spot {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 0px;
    font-size: 48px;
}
#rematch {
    display: none;
}
#score-b {
    border: 2px solid tan;
}
form {
    margin-bottom: 40px;
}
#score-1, #score-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: x-large;
}
.scores {
    display: none;
}

#player1-score, #player2-score {
    text-align: center;
    width: 40%;
}