html, body {
    height: 100%;
}
.page {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
}
#scroll {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* border: 2px solid black; */
}
form {
    margin-top: 50px;
}

#form {
    display: none;
}


fieldset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.flexy {
    display: flex;
    flex-direction: column;
}


